<footer class="footer py-1 text-center position-fixed bottom-0">
	<div class="d-lg-none d-block">
		<a
			href="https://www.linkedin.com/in/alexandre-louisdhon-a8191718a/"
			class="icon-link mx-1"
			><i data-feather="linkedin"></i
		></a>
		<a href="https://github.com/louiscooks" class="icon-link mx-1"
			><i data-feather="github"></i
		></a>
	</div>
</footer>
