<footer class="footer py-1 text-center position-fixed bottom-0">
	<div class="d-lg-none d-block">
		<a href="" class="icon-link mx-1"><i data-feather="linkedin"></i></a>
		<a href="" class="icon-link mx-1"><i data-feather="github"></i></a>
	</div>
</footer>
