<% layout('layouts/boilerplate') %>

<div
	class="px-3 col-12 col-lg-6 offset-lg-3 text-center position-absolute top-50"
>
	<p class="lead">
		<span class="fs-5 fw-bold name-text" style="display: none"
			>Hello, my name is Alexandre Louisdhon.</span
		>
		<br />
		<span class="aboutme-text" style="display: none"
			>I am a full-stack web developer. Feel free to take a look at my latest
			projects on the <br /><a href="/portfolio">web portfolio page.</a></span
		>
	</p>
</div>
